.melancia{
    position: absolute;
    height: 500px;
    width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.corte1{
    position: absolute;
    height: 100px;
    width: 200px;
    left: 30%;
    top: 40%;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color: #e70001;
}
.corte1:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -15%;
    border-bottom: 60px solid #009900;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.semente1, .semente2, .semente3, .semente4, .semente5{
    height: 10px;
    width: 10px;
    border-bottom-right-radius: 100px;    
    border-top-left-radius: 100px;
    background-color: #420200;
}
.semente1{
    position: absolute;
    left: 45%;
    top: 40%;
}
.semente2{
    position: absolute;
    left: 50%;
    top: 40%;
}
.semente3{
    position: absolute;
    left: 45%;
    top: 45%;
}
.semente4{
    position: absolute;
    left: 40%;
    top: 35%;
}
.semente5{
    position: absolute;
    left: 40%;
    top: 45%;
}
.corte2{
    position: absolute;
    height: 100px;
    width: 200px;
    left: 30%;
    top: 40%;
    border-radius: 50%;
    transform: rotate(-130deg);
    background-color: #009900;
    animation: slice 5s ease-in-out infinite;
}
.corte2:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -15%;
    border-bottom: 60px solid #009900;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
@keyframes slice{
    from{
        left: 30%;
        top: 40%;
    }
    to {
        left: 45%;
        top: 50%;
    }
}
