// ---------------------
// Mixin
// ---------------------
@mixin stars($nb, $color) {
    $shadows: #{random(1000) * 0.1vw} #{random(1000) * 0.1vh} $color;
    @for $i from 2 through $nb {
        $shadows: #{$shadows},
            #{random(1000) * 0.1vw} #{random(1000) * 0.1vh} $color;
    }

    box-shadow: $shadows;
}

@mixin fireworkParticles($nb, $color) {
    $x: random(100) * 0.15vw;
    $y: random(100) * 0.15vw;
    $shadows: $x $y #fff, $x $y 20px $color;
    @for $i from 2 through $nb {
        $x: random(100) * 0.15vw;
        $y: random(100) * 0.15vw;
        $shadows: #{$shadows}, $x $y mix($color, #fff, 30%), $x $y 10px $color;
    }

    box-shadow: $shadows;
}

// ---------------------
// Styles
// ---------------------

.container {
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at 50% 90%,
        #898916,
        #282972 33%,
        #000000
    );
}

.stars {
    @include stars(300, #fff);
    position: absolute;
    inset: 0;
    width: 1px;
    height: 1px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &::before {
        @include stars(400, #ccc);
        animation: lighting 3s linear reverse infinite;
    }

    &::after {
        @include stars(500, #aaa);
        animation: lighting 4s linear infinite;
    }
}

.fireworks {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 20vh;
    cursor: pointer;
}

.firework {
    position: absolute;
    width: 15vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    animation: firework 6s linear;
}

.firework::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.firework__1::after {
    @include fireworkParticles(100, red);
}
.firework__2::after {
    @include fireworkParticles(100, blue);
}
.firework__3::after {
    @include fireworkParticles(100, green);
}
.firework__4::after {
    @include fireworkParticles(100, yellow);
}
.firework__5::after {
    @include fireworkParticles(100, pink);
}
.firework__6::after {
    @include fireworkParticles(100, purple);
}

.city {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    height: 5vh;
    width: 40vw;
    background: #000;
    transform: translateX(-50%);
}

.building {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    height: 20vh;
    width: 5vh;
    background: #12122b;
    transform: translateX(-50%);
    box-shadow: 10vw 5vh 0 #12122b, 14.5vw 7vh 0 #12122b, 20vw 12vh 0 #12122b,
        5vw 4vh 0 #0c0c1c, 13vw 14vh 0 #0c0c1c, 0.6vw 6.5vh 0 #0c0c1c,
        7vw 8vh 0 #06060e, 18vw 2vh 0 #06060e, 3vw 12vh 0 #000, 14vw 10vh 0 #000,
        -4.8vw 3vh 0 #12122b, -9.8vw 8vh 0 #12122b, -15.8vw 5.5vh 0 #12122b,
        -24vw 12vh 0 #12122b, -2.2vw 5.3vh 0 #0c0c1c, -6.2vw 2.6vh 0 #0c0c1c,
        -12.5vw 6.2vh 0 #0c0c1c, -22vw 10vh 0 #0c0c1c, -19vw 4vh 0 #06060e;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: #0c0c1c;
    text-align: center;
    color: #fff;
    font-size: clamp(1rem, 2vw, 3rem);
    padding-top: 2rem;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

// ----------------------
// Animations
// ----------------------

@keyframes lighting {
    0%,
    100% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.6;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 0.4;
    }
}

@keyframes firework {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    2% {
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -20%) scale(1);
        opacity: 0;
    }
}

.Me {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    font-weight: 700;
    opacity: 0.5;
}
