body{
    padding: 1rem;
    margin: 1rem;
}
main{
    padding: 1rem;
}
ul{
    padding: 1rem 0;
}
li{
    margin: .3em;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    transition: .5s;
}
li:hover{
    background-color: #bbb;
}
a{
    padding: .5em;
    color: black;
    width: 100%;
}
